%div.navbar.navbar-inverse.navbar-fixed-top
  %div.navbar-inner
    %div.container-fluid
      %button.btn.btn-navbar{:type => "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.brand{:href => "#"}
        Project name
        %div.nav-collapse.collapse
          %p.navbar-text.pull-right
            Logged in as username
            %a.navbar-link{:href => "#"}
          %ul.nav
            %li.active
              =link_to "Home"
            %li
              =link_to "Manga Home"
        %a{:href => ""} Home
