
%h1= "Chapter #{@chapter.chaptnum}"

%div.container
  %div#slides
    -@chapter.pages.each do |page|
      =image_tag(page.url)

/ %ul#page_list
/   -@chapter.pages.reverse_each do |page|
/     %li#page_link
/       =link_to "Page #{page.pagenum}", page

